<mat-card>
  <form (submit)= "onSavePost(postForm)" #postForm = "ngForm">  <!-- #postForm = "ngForm" will give access to the form object-->
  <mat-form-field>
    <input matInput type="text" name = "title" required minlength="3" [ngModel] = "post?.title" #title="ngModel" placeholder="Title"> <!-- '?' is called the elvis operator  and it will first check whether post exist before tries to read the title-->
    <mat-error *ngIf = "title.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput rows="6" name = "content" placeholder="Content" required minlength = "3" [ngModel] = "post?.content"  #content= "ngModel"></textarea>
    <mat-error *ngIf = "content.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
<button mat-raised-button color= "primary" type="submit" [disabled]= "postForm.invalid">Save Post</button>
</form>
</mat-card>
